
    <div class="max-w-4xl mx-auto p-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
        <div>
          <h2 class="text-2xl font-bold mb-4 border-b pb-2">About me</h2>
          <p class="mb-4">
            Hello, my name is <strong>Jose San Martin</strong>, I am a software programmer from Mexico. I am a dedicated and adaptable person who is always trying to improve myself every day, hoping to go deeper in the frontend area. I hope you could check my resume on my <a href="https://www.linkedin.com/in/jose-guadalupe-san-martin-martinez-3801b2245/" class="text-blue-600 hover:underline font-bold">LinkedIn</a>.
          </p>
          <p>
            I had knowledge and a <strong>Fullstack</strong> tech pool, but I could go deep into backend if I had the opportunity. I was a professional in another field with some years of experience and recommendations from my previous jobs where I learn how to manage clients and staff.
          </p>
        </div>
        <div>
          <h2 class="text-2xl font-bold mb-4 border-b pb-2">Tech pool</h2>
          <div class="flex flex-wrap gap-2">
            <span class="bg-gray-200 px-2 py-1 rounded">React JS / TS</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded">MySQL</span>
            <span class="bg-gray-200 px-2 py-1 rounded">MongoDb</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded">NodeJs Express</span>
            <span class="bg-gray-200 px-2 py-1 rounded">Java Spring</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded">Jest</span>
            <span class="bg-gray-200 px-2 py-1 rounded">Angular</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded">C# .Net</span>
            <span class="bg-gray-200 px-2 py-1 rounded">Tailwind</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded">PhP</span>
            <span class="bg-gray-200 px-2 py-1 rounded">Python</span>
            <span class="bg-blue-500 text-white px-2 py-1 rounded">PhP</span>
          </div>
        </div>
      </div>
      <div class="mb-8">
        <h2 class="text-2xl font-bold mb-4 border-b pb-2">Interests</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="flex items-center">
            <div class="bg-gray-300 p-2 rounded-full mr-2">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3"></path></svg>
            </div>
            <div>
              <h3 class="font-semibold">Hobbies</h3>
              <p class="text-sm">Music, Games, Walking, Trying new restaurants, Playing the piano, Sudoku.</p>
            </div>
          </div>
          <div class="flex items-center">
            <div class="bg-gray-300 p-2 rounded-full mr-2">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
            </div>
            <div>
              <h3 class="font-semibold">Recent Techs</h3>
              <p class="text-sm">Angular, Php, C# / .Net, React, Mongodb</p>
            </div>
          </div>
          <div class="flex items-center">
            <div class="bg-gray-300 p-2 rounded-full mr-2">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path></svg>
            </div>
            <div>
              <h3 class="font-semibold">Interesting Techs</h3>
              <p class="text-sm">PostgresQl, Go, Scala, Kotlin, SQL Server, Azure,Swift </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-4 border-b pb-2">Experience</h2>
        <div class="mb-4">
          <h3 class="font-semibold">Software Developer, Asfaltos Carreteros del Sumidero, November 2017 - July 2020</h3>
          <p class="text-sm">I worked on projects involving the management of billing data and employee data for the company. I worked with Spring backend and Angular frontend. I developed their employee management system using Spring Boot, calling it as a REST service, and used PostgreSQL as the database, with Angular for the frontend. Additionally, using .NET 4, I developed a Unit Cost Manager for construction projects. My tasks included development, program maintenance, and bug fixing.</p>
        </div>
        <div class="mb-4">
            <h3 class="font-semibold">Software Developer, Lösungen, July 2020 - September 2022</h3>
            <p class="text-sm">I developed microservices with Java Spring Boot, using Java 8, MVC, and REST API. I used Angular and React for the frontend and built robust backends in ASP.NET. I worked with billing systems and expense systems, using technologies such as Bitbucket and Jira for task management. I used Git, performed unit testing, resolved bugs, and documented my code with Swagger. For UX/UI development, I used Figma.</p>
          </div>
          <div class="mb-4">
            <h3 class="font-semibold">Software Developer, Corporativo Fragua, September 2022 - August 2023</h3>
            <p class="text-sm">I worked on their point-of-sale system in C# .NET, ASP.NET, and their website, developing microservices and landing pages, fixing bugs, and documenting. One of the microservices I developed for the point-of-sale system was the payment system for CFE (the Mexican electric utility). I resolved bugs related to QR codes, maintained their reconciliation systems, and developed landing pages using Angular and JSP. I also developed their invoice page using Angular, calling a SOAP service, and provided ongoing maintenance.</p>
          </div>
          <div class="mb-4">
            <h3 class="font-semibold">Software Analyst , Enkontrol, August 2023 - March 2024</h3>
            <p class="text-sm"> I worked on their procurement system using React, leveraging State and Redux, and an external DataGrid. I created catalogs to manage inventory for the warehouse and made them responsive. The backend was built in C#, using microservices, and the database was SQL Server, where I worked with views, stored procedures, and specific operations. I also maintained the catalogs and backend.</p>
          </div>
        <div>
          <h3 class="font-semibold">FullStack Developer, H&A Software, March 2024 - Present</h3>
          <p class="text-sm">My main responsibilities are Implementation and Maintenance. I both develop new components for the ERP they use and maintain both the backend and frontend using Angular and PHP.</p>
        </div>
      </div>
    </div>
