<div class="min-h-fit lg:pb-56 flex flex-col">
  <!-- Main Content -->
  <main class="flex-grow flex items-center">
    <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between">
      <!-- Text Content -->
      <div class="md:w-1/2 text-center md:text-left mb-8 md:mb-0">
        <h2 class="text-4xl md:text-5xl font-bold mb-4">
          <!-- Línea 1: Hi there, -->
          <span class="block">
            {{ displayedGreeting }}<span *ngIf="!displayedIntro && displayedGreeting" class="cursor">|</span>
          </span>
          <!-- Línea 2: I am -->
          <span class="block">
            {{ displayedIntro }}<span *ngIf="displayedIntro && !displayedName" class="cursor">|</span>
          </span>
          <!-- Línea 3: Nombre -->
          <span class="block">
            {{ displayedName }}<span *ngIf="displayedName && !isTypingComplete" class="cursor">|</span>
          </span>
        </h2>
        
        <!-- Rol con efecto loop -->
        <p class="text-xl mb-6 h-8">
          <span>{{ displayedRole }}</span><span *ngIf="isTypingComplete" class="cursor">|</span>
        </p>
        
        <button (click)="contact();" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-all duration-300 transform hover:scale-105">
          Get in touch
        </button>
      </div>

      <!-- Image -->
      <div class="md:w-1/2">
        <img src="assets/img/Roog.png" class="rounded-lg shadow-lg lg:w-1/2 h-auto sm:w-full">
      </div>
    </div>
  </main>
</div>